.drum-sequencer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-sequencer {
  width: 80vw;
  border-radius: 10px;
  padding: 1rem;
  border: 5px solid var(--GRAY_ACCENT_1);
}

.track-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* gap: 0.5rem; */
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.track-container::-webkit-scrollbar {
  display: none;
}

.track {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.track-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.2rem;
}

.knob {
  --knob-size: 0.85rem;
  width: var(--knob-size);
  height: var(--knob-size);
  min-width: var(--knob-size);
  min-height: var(--knob-size);
  border-radius: 50%;
  border: 1px solid var(--TEXT_PRIMARY);
  background-color: var(--INTERACTABLE_COLOR);
  position: relative;
}

.knob::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 70%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: var(--BACKGROUND_HOME);
}

.note-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.note-box {
  border: 2px solid var(--TEXT_PRIMARY);
  border-radius: 5px;
  width: 0.5rem;
  min-width: 0.5rem;
  height: 1rem;
}

.note-patch-1 {
  background-color: var(--GRAY_ACCENT_2);
}

.note-patch-2 {
  background-color: var(--BACKGROUND_COLOR);
}

.note-box:hover {
  background-color: var(--GRAY_ACCENT_1);
}

.note-is-active {
  background-color: var(--TEXT_PRIMARY);
}