.retro-static {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  scale: 1.1;
  object-fit: cover;
  opacity: 0.2;
  z-index: -1;
}

.border-text {
  font-weight: 200;
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  text-wrap: nowrap;
}

#border-text-left {
  transform: rotate(270deg) translate(-50%, -50%);
  transform-origin: top left;
  position: fixed;
  top: 50%;
  left: 26px;
}

#border-text-right {
  transform: rotate(90deg) translate(50%, 50%);
  transform-origin: top right;
  position: fixed;
  top: 50%;
  right: 6px;
}

#home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.get-headphones-reminder {
  font-weight: 600;
  font-style: italic;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: breathe-slow 5s ease-in-out 0s infinite;
}

#headphone-icon {
  width: 25px;
  height: 25x;
  position: absolute;
  top: 47%;
  left: -8%;
  transform: translate(-50%, -50%);
}

@media (max-width: 819px) {
  .get-headphones-reminder {
    font-size: 8px;
  }

  #headphone-icon {
    width: 15px;
    height: 15x;
  }
}

@keyframes breathe-slow {
  0%, 100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.4;
  }
}

.drop-down-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--INTERACTABLE_COLOR);
  color: var(--BACKGROUND_HOME);
  font-size: 150%;
  rotate: 180deg;
  cursor: pointer;
  transition-duration: var(--ANIMATION_FAST);
}

.drop-down-btn:hover {
  transform: scale(1.05);
  transition-duration: var(--ANIMATION_FAST);
}

.drop-down-btn img {
  width: 20px;
  height: 20px;
  transform-origin: center;
  rotate: 180deg;
}

.home-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  gap: 1rem;
  overflow-y: scroll;
}

.section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min(30rem, 50vw);
  min-width: 250px;
  min-height: 3rem;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  font-weight: 600;
  position: relative;
}

.section-container::before {
  content: attr(data-number);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  padding-left: 1%;
  font-size: 1.1rem;
  margin-left: 10px;
  font-style: italic;
  background-color: var(--BACKGROUND_HOME);
  color: var(--INTERACTABLE_COLOR);
}

.section-title {
  font-size: 1.5rem;
  color: var(--BACKGROUND_HOME);
}
